@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$font-color:#000;
$background-color: #c50d3e;
$font-family:  'Lora', serif;

*{
  font-family: $font-family;
}

html {
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  font-size: 40px;
}


